{% extends "base.html" %}
{% load static %}


{% block title %}
    {{ post.title }}
{% endblock %}



{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock %}



{% block content %}
    {% if comment_form.errors %}
        <div id="error-alert">
            <h2>Your comment failed to save.</h2>
            <p>Please make sure there are no errors in the input fields.</p>
            <a href="#comment-form">Fix!</a>
        </div>
    {% endif %}


    <section id="summary">
        <h2>{{ post.title }}</h2>

        <div>
            {% for tag in post_tags %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
        </div>

        <div id="read-later">
            <form action="{% url "read-later" %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ post.id }}" name="post_id">
                <button>
                    {% if saved_for_later %}
                        Remove From 'Saved Posts'
                    {% else %}
                        Save for Later
                    {% endif %}
                </button>
            </form>
        </div>

        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <address>By: <a href="mailto:{{ post.author.email_address }}">{{ post.author|title }} </a></address>
            <div>
                Last updated on <time>{{ post.date|date:"F d Y" }}</time>
            </div>
        </article>
    </section>


    <main>
        {{ post.content|linebreaks }}
    </main>

    <section id="comments">
    `   <h1 id="comment-title">Comments</h1>`
        <ul>
            {% for comment in comments %}
                <li>
                    <h2>{{ comment.user_name }}</h2>
                    <p>{{ comment.text|linebreaks }}</p>
                </li>
            {% endfor %}
        </ul>
    </section>


    <div>
        
        <form id="comment-form" action="{% url "post-detail-page" post.slug %}" method="POST">
            {% csrf_token %}
            <h1 id="leave-comment">Leave a comment!</h1>
            {% for form_field in comment_form %}
                <div class="form-control {% if form_field.errors %}invalid{% endif %}">
                    {{ form_field.label_tag }}
                    {{ form_field }}
                    {{ form_field.errors }}
                </div>
            {% endfor %}

            <button>Save Comment</button>
      
        </form>
    </div>
{% endblock %}